button {
  border-style: solid;
  border-color: black;
  height: 100%;
  width: 100%;
}

.center {
  border-style: solid;
  position: absolute;
  display: block;
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  background-color: #B8D7E1;
}

.center_txt {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.out2 {
  border-style: solid;
  position: absolute;
  display: block;
  height: 300px;
  width: 300px;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background-color: #FFD0CF;
}

body {
  background-color: #B8D7E1;
}
